<head>
    <link rel="stylesheet" href="static/style.css">
  <style>
    .middle_2 {
      background: rgb(151, 204, 197);
    }
  </style>
</head>

<div class="container middle_2">
  <form method="post">
    {{xfor.hidden_tag()}}
    <div class="mb-3">
        {{xfor.username(class_="form-control")}}
      </div>
    <div class="mb-3">
      {{xfor.email(class_="form-control")}}
    </div>
    <div class="mb-3">
      {{xfor.password(class_="form-control")}}
    </div>
    <div class="mb-3">
        {{xfor.pass_conform(class_="form-control")}}
      </div>
    {{xfor.submit(class_="btn btn-primary")}}
  </form>
</div>
