
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Authentication</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{url_for('views.home')}}">Home</a>
          <a class="nav-link active" href="{{url_for('views.about')}}">About</a>
          <a class="nav-link active" href="{{url_for('login_auth.sign_up')}}">Register</a>
          <a class="nav-link active" href="{{url_for('login_auth.login')}}">Login</a>
        </div>
      </div>
    </div>
  </nav>