<head>
    <style>
        .table {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Email</th>
            <th scope="col">Date of singup</th>
            <th scope="col">Logout</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{name}}</td>
            <td>{{em}}</td>
            <td>{{dt}}</td>
            <td><a href="{{url_for('login_auth.logout')}}" type="button" class="btn btn-danger">Click</a></td>
        </tr>
    </tbody>
</table>